---
layout: default
title: Podcast
---
<h1>Podcast</h1>
<div id="ftr-container" style="text-align: center;">
  <img src="{{ site.baseurl }}/images/concave.png" alt="Concave" border="0" style="width: 50%;">
  <ul class="posts" style="display: inline-block; text-align: left; padding: 0; margin: 0 auto;">
    {% for post in site.posts %}
      {% if post.categories contains "radio" %}
        <li><span>{{ post.date | date_to_string }}</span> <br> <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li><br>
      {% endif %}
    {% endfor %}
    <br>
  </ul>
</div>
