<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
    <meta name="description" content="Cave Paintings">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/main.css">
  
      <!-- Content -->
    
<div class="container">

  {{ content }}

</div>
    <center>
  <footer><br>
   <ul>
   <li><a href="mailto:cavepaintingsbiz@gmail.com" target="_blank"><img border="0" alt="Mail" src="/cave/images/mail.jpg" width="30" height="30"></a></li>
   <li><a href="https://www.x.com/cavepaintingstv" target="_blank"><img border="0" alt="Twitter" src="/cave/images/twitter.jpg" width="30" height="30"></a></li>
   </ul>
    <br>
  </footer>
    </center>
  </body>
</html>
