<!DOCTYPE html>
<html>
  <head>
    <style>
      <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

      body {
    background-color: #ffffff;
}
    </style>
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
    <meta name="description" content="glasscake">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="glasscake/css/main.css">
  
  </head>
  <body>  
      <div id="logo-container"><img href="/" alt="banner" src="https://i.postimg.cc/PxfHDtWm/site3.gif" class="pixelated-image" border ="1"/></div>
    <nav>
<ul>
<li><a href="/">Home</a></li>
  <li>|</li>
<li><a href="/about">About</a></li>
  <li>|</li>
<li><a href="/contact">Contact</a></li>
  <li>|</li>
<li><a href="/gallery">Animations</a></li>
  <li>|</li>
<li><a href="/blog">Updates</a></li>
      <hr class="solid">
      </ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  <footer><br>
   <ul>
  <li><a href="mailto:glasscaked@gmail.com" target="_blank"><img border="1" alt="Twitter" src="/broken/images/mail.png" class="pixelated-image" height="28" width="66"</a></li>
  <li><a href="https://www.x.com/glasscake" target="_blank"><img border="1" alt="Twitter" src="/broken/images/twitter.png" class="pixelated-image" height="28" width="66"></a></li>
  <li><a href="https://www.instagram.com/_glasscake" target="_blank"><img border="1" alt="Instagram" src="/broken/images/instagram.png" class="pixelated-image" height="28" width="66"></a></li>
   </ul>
    <br>
  </footer>
  </body>
</html>
