---
layout: default
---
{{ page.title }}
<p class="meta">{{ page.date | date_to_string }}</p>

<div class="post">
  {{ content }}
  <br>
  
<!-- /*Page Nav*/ -->
  
<center>
  <nav>
    <ul>
      <!-- First Button -->
      {% if page.url != site.posts.first.url %}
        <li><a href="{{ site.baseurl }}{{ site.posts.first.url }}">First</a></li>
      {% else %}
        <li><span>First</span></li>
      {% endif %}
      <li>|</li>

      <!-- Previous Button -->
      {% if pagination.previous_page %}
        <li><a href="{{ site.baseurl }}{{ pagination.previous_page_path }}">Previous</a></li>
      {% else %}
        <li><span>Previous</span></li>
      {% endif %}
      <li>|</li>

      <!-- Next Button -->
      {% if pagination.next_page %}
        <li><a href="{{ site.baseurl }}{{ pagination.next_page_path }}">Next</a></li>
      {% else %}
        <li><span>Next</span></li>
      {% endif %}
      <li>|</li>

      <!-- Latest Button -->
      {% if page.url != site.posts.last.url %}
        <li><a href="{{ site.baseurl }}{{ site.posts.last.url }}">Latest</a></li>
      {% else %}
        <li><span>Latest</span></li>
      {% endif %}
    </ul>
  </nav>
</center>




<!-- /*Back*/ -->
  
  <br>
<ul><a href="/cave/archive">Back</a><ul>
</div>
